<div class="container mt-3">
  <div class="row">
    <h2>Top voted <small class="text-muted">of the week</small></h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-white text-center bg-dark">Category</div>
        <div class="card-body">
          <div class="btn-group-toggle p-1" data-toggle="buttons" *ngFor="let tag of tags">
            <label class="btn btn-block btn-outline-secondary">
              <input type="checkbox" autocomplete="off"> {{tag.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-columns">
        <div *ngFor="let movie of movies">
          <app-movie [movie]=movie></app-movie>
        </div>
      </div>
    </div>
  </div>
</div>
