<app-loading *ngIf="!movies"></app-loading>
<div class="row justify-content-md-center">
  <div class="col-md-6">
    <div id="peliculasCarousel" class="carousel slide carousel-fade border border-warning rounded bg-secondary" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let movie of movies; let idx = index"
        data-target="#peliculasCarousel"
        [attr.data-slide-to]="idx" [ngClass]="{'active': idx === 0}"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let movie of movies; let idx = index" class="carousel-item" [ngClass]="{'active': idx === 0}">
          <div class="carousel-img d-flex justify-content-center">
            <img src="{{movie.photoUrl}}" alt="movie photo"
            style="cursor: pointer" [routerLink]="['/movie', movie.id]">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#peliculasCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#peliculasCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  
  </div>
</div>
