<app-loading *ngIf="!movies"></app-loading>
<div class="row justify-content-md-center">
  <div class="col-lg-5">
    <div id="peliculasCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let movie of movies; let idx = index"
        data-target="#peliculasCarousel"
        [attr.data-slide-to]="idx" [ngClass]="{'active': idx === 0}"></li>
      </ol>
      <div class="carousel-inner">
        <div *ngFor="let movie of movies; let idx = index" class="carousel-item" [ngClass]="{'active': idx === 0}">
          <div class="carousel-img d-flex justify-content-center">
            <img src="{{movie.photoUrl}}" alt="movie photo" class="shadow rounded"
            style="cursor: pointer" [routerLink]="['/movie', movie.id]">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
