<div class="card">
  <img src="{{movie.photoUrl}}" alt="movie photo"
        class="card-img-top" style="cursor: pointer"
        [routerLink]="['/movie', movie.id]">
  <div class="card-body">
    <h5 class="card-title">{{movie.name}}</h5>
    <h6 class="card-suntitle text-muted">{{movie.premiere | movieDate}}</h6>
    <div class="progress my-1">
      <div class="progress-bar" role="progressbar" [style.width.%]="movie.average"
            [ngClass]="getProgressBg(movie.average)"></div>
    </div>
    <p class="card-text">{{movie.summary}}</p>
  </div>
  <div class="card-footer text-muted d-flex align-items-center justify-content-between">
    <div>
      <span class="badge badge-primary m-1" *ngFor="let tag of movie.tags | movieTags">{{tag}}</span>
    </div>
    <small class="w-50 text-right">{{movie.likes}} likes</small>
  </div>
</div>
