<app-loading *ngIf="!movie"></app-loading>
<div class="container mt-3" *ngIf="movie">
  <h2>{{movie.name}} <small class="text-muted">{{movie.premiere | movieDate}}</small></h2>
  <div class="row animated fadeIn">
    <div class="col-md-6 my-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe id="ytplayer" type="text/html"
                [src]="movie.youtubeCode | youtubeUri"
                frameborder="0" allowfullscreen>
        </iframe>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-end align-items-center">
            <p class="card-text m-0 text-justify">{{movie.summary}}</p>
            <button type="button" class="btn btn-lg ml-3" *ngIf="auth.peliUser"
                    [ngClass]="{'btn-outline-danger': !liked, 'btn-danger': liked}" #likeButton
                    (click)="toggleLikedMovie(likeButton)">
              <fa-icon [icon]="faHeart"></fa-icon>
            </button>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 bg-dark rounded-top p-3">
        <button type="button" class="btn btn-outline-success" *ngIf="auth.peliUser"
                (click)="showReview()">
          <fa-icon [icon]="faPlus"></fa-icon> Add review
        </button>
      </div>
      <div class="col-md-12 bg-light border rounded-bottom py-3">
        <p *ngIf="!addingReview && !reviews?.length > 0" class="text-center text-muted h5">No reviews yet</p>
        <app-review [reviews]="reviews"></app-review>
        <app-new-review (save)="saveReview($event)" (cancel)="cancelReview($event)"
                        *ngIf="addingReview"></app-new-review>
      </div>
    </div>
  </div>
</div>
