<div class="container my-2">
  <div class="row my-2">
    <button type="button" class="btn btn-outline-success" [routerLink]="['new']">
      <fa-icon [icon]="faPlus"></fa-icon> Add Movie
    </button>
  </div>
  <div class="row">
    <div class="card-columns">
      <div *ngFor="let movie of movies" class="card bg-secondary text-white">
        <img src="{{movie.photoUrl}}" alt="movie photo" style="cursor: pointer"
              class="w-100" [routerLink]="['/movie', movie.id]">
        <div class="card-body">
          {{movie.name}}
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="movie.average"
                  [ngClass]="getProgressBg(movie.average)"></div>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div>
            <button type="button" class="btn btn-sm btn-warning">
              <fa-icon [icon]="faEdit"></fa-icon> Edit
            </button>
            <button type="button" class="btn btn-sm btn-danger ml-2">
              <fa-icon [icon]="faTrash"></fa-icon> Delete
            </button>
          </div>
          <small class="text-right">1 likes</small>
        </div>
      </div>
    </div>
  </div>
</div>
